/* button-search */
.button-search{
    border-radius: 25px;
    border: 0px;
    background: linear-gradient(135deg, #F83A26, #FFC344);
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.8;
    transition: 0.4s all ease-in-out;
}

.button-search:hover{
    opacity: 1;
}
/* button-search */